* {
  margin: 0;
  padding: 0;
}

/* 800 /  */

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#film {
  height: 100vh;
  width: auto;
}

#video {
  left:0;
  top:0;
  z-index: 1;
  position: absolute;
  width: 200px;
  height: auto;
  opacity: 0;
}

.hidden {
  position: absolute;
  display: none;
  left: 800px;
}

#avatar {
  display: block;
  position: absolute;
  left: 76vh;
  top: 83vh;
  width: 17vh;
  height: 17vh;
}

image {
  position: absolute;
  top: 0;
  z-index: -1;
}

canvas {
  position: absolute;
  top: 0;
  display: block;
  margin: auto;
}
