@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
  font-family: "Fredoka One", cursive;
  margin: 0;
  padding: 0;
}

body, html {
    overflow-x: hidden;
    overflow-y: auto;
}

#iframe {
  overflow: hidden;
  position: fixed;
}
